@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --purple: #8f438c;
  --white: #ffffff;
  --yellow: #ffba0d;
  --blue: #0c61e0;

  --accent-black: #31363a;
  --accent-grey: #757c8e;

  --bg-grey: #e4e4e4;
}

body {
  font-family: "Cairo", "sans-serif";
  background-color: var(--white);
}

footer {
  background-color: var(--purple);
  color: var(--white);
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  transition: 0.3s ease-in-out;
}

button {
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.btn {
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
