@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Canva Sans";
  src: url("/fonts/CanvaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canva Sans";
  src: url("/fonts/CanvaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Canva Sans";
  src: url("/fonts/CanvaSans-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: var(--white);
  background-color: var(--black);
}

:root {
  --purple: #8f438c;
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffba0d;
  --blue: #0c61e0;
  --red: #d94f4f;

  --accent-black: #31363a;
  --accent-grey: #757c8e;

  --bg-grey: #e4e4e4;
  --divider-card: #cdcfd5;
  --shadow: #ccc;

  --semi-transparent-purple: #8f438c88;
  --semi-transparent-yellow: #ffba0d99;

  --gradient-overlay: linear-gradient(
    135deg,
    rgba(6, 147, 227, 0.6) 0%,
    rgb(155, 81, 224, 0.6) 100%
  );

  --luminous-pulse: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );

  --pink-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
}

body {
  font-family: "Canva Sans";
  background-color: var(--white);
}

footer {
  background-color: var(--purple);
  color: var(--white);
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  transition: 0.3s ease-in-out;
}

button {
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btn {
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.enroll-btn {
  color: var(--purple);
  border: 1px solid var(--purple);
  font-size: 1.3rem;
  padding: 8px;
}

.enroll-btn:hover {
  color: var(--white);
  background-color: var(--purple);
}
