.header {
  background-color: transparent;
  padding: 24px 36px;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

.header.scrolled {
  background-color: var(--semi-transparent-purple);
  backdrop-filter: blur(10px);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.nav-link {
  color: var(--white);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--yellow);
}

.btn-yellow {
  padding: 4px 24px;
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--yellow);
  transition: 0.3s ease-in-out;
}

.btn-yellow:hover {
  background-color: var(--yellow);
}

.profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.profile:hover {
  opacity: 1;
}
