.numbers-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.number-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  padding: 20px;
  width: 200px;
  transition: transform 0.3s ease-in-out;
  border-left: 3px solid var(--purple);
}

.number-box:last-child {
  border-left: none;
}

.number-box:hover {
  transform: scale(1.05);
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: var(--purple);
  direction: rtl;
  line-height: 50px;
}

.label {
  font-size: 1.4rem;
  color: var(--accent-black);
  margin-top: 10px;
  direction: rtl;
  text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
  .numbers-section {
    gap: 20px;
  }

  .number-box {
    width: 150px;
  }

  .number {
    font-size: 2rem;
  }

  .label {
    font-size: 1rem;
  }
}
