.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
  background-color: var(--semi-transparent-purple);
  color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

.mobile-header.scrolled {
  background-color: var(--semi-transparent-purple);
  backdrop-filter: blur(10px);
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  height: 720px;
  overflow-y: auto;
}

.mobile-nav.open {
  display: flex;
  background-color: var(--semi-transparent-purple);
  backdrop-filter: blur(16px);
}

.mobile-nav .nav-link {
  display: block;
  padding: 15px;
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
}

.mobile-nav .nav-link:hover {
  background-color: var(--accent-purple);
}

.mobile-nav .btn-yellow {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--button-yellow);
  color: var(--white);
  border-radius: 8px;
}

.mobile-nav .btn-yellow:hover {
  background-color: var(--accent-purple);
  color: var(--white);
}

.btn-yellow {
  padding: 4px 24px;
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--yellow);
  transition: 0.3s ease-in-out;
}

.btn-yellow:hover {
  background-color: var(--yellow);
}

.mob-profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--yellow);
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
