.payment-callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--accent-black);
  text-align: center;
  height: 100dvh;
}

.payment-btn {
  padding: 12px 24px;
  background-color: var(--purple);
  color: var(--white);
}

.payment-btn:hover {
  background-color: var(--yellow);
}

.text-grey {
  margin: 12px auto;
}
